.nav-bar-container {
    width: 100%;
    background-color: var(--color-primary);
    border-bottom: var(--color-secondary) 2px solid;
    margin-bottom: 1rem;
}

.nav-bar-elements {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar-elements a {
    list-style: none;
    margin: 0 1rem;
    padding: 0 1rem;
    color: var(--text-dark);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
}

.nav-bar-elements a:hover {
    color: #ff7b00;
}

.nav-bar-elements a.active {
    text-decoration: underline;
}

.nav-bar-elements > * {
    margin: 0 1rem;
}
