.event-popup-container {
    position: fixed;
    z-index: 1;
    background-color: #000000a3;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    place-items: center;
    justify-content: center;
}

.event-popup {
    width: 90%;
    height: 90%;
    background-color: var(--color-primary);
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.event-form-container {
    width: 50%;
    height: 80%;
    grid-gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.event-form-container select {
    width: 40%;
}

.event-form-container input {
    width: 70%;
}

.event-form-container button {
    width: 30%;
    align-self: center;
    margin-top: 2rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
}

.close-icon {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
}

.close-icon:hover path {
    fill: var(--color-secondary);
}

.close-icon:active path {
    fill: var(--color-secondary-dark);
}
