@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,400;1,700&display=swap');

:root {
    font-family: 'Montserrat', sans-serif, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --color-primary: #e7ecef;
    --color-primary: #e7ecef;
    --color-primary-dark: rgb(144, 148, 151);
    --color-secondary: #fcca46;
    --color-secondary-dark: #c59f36;
    --color-secondary-darker: #816723;
    --color-tertiary: #363531;
    --text-light: #ffffff;
    --text-dark: #333333;
}

#root {
    background-color: var(--color-tertiary) !important;
    display: flex;
    margin: 0 auto;
    text-align: center;
    align-items: stretch;
    justify-items: stretch;
    flex-direction: column;
    width: 100%;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    align-items: stretch;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}
